@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Light Theme (default) */
  --color-background: #ede1df;
  --color-background-accent: #c3b4b1;
  --color-main: #ef5b5d;
  --color-accent: #8e88c0;
  --color-accent-hover: #886ec0;
  --color-text: #231f20;
  --color-text-muted: #313131;
  --color-border: #e2e8f0;
  --color-card: #ffffff;
  --color-card-hover: #f8fafc;
  --color-card-selected: #8e88c0;

  --color-accent-greenish: #379339;
}

/* Apply theme colors to elements */
body {
  background-color: var(--color-background);
  color: var(--color-text);
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-main);
}

a {
  color: var(--color-accent);
  transition: color 0.2s ease-in-out;
}

a:hover {
  color: var(--color-accent-hover);
}

/* Utility classes */
.bg-background {
  background-color: var(--color-background);
}

.bg-background-accent {
  background-color: var(--color-background-accent);
}

.bg-card {
  background-color: var(--color-card);
}

.bg-card-selected {
  background-color: var(--color-card-selected);
}

.hover\:bg-card-hover:hover {
  background-color: var(--color-card-hover);
}

.text-main {
  color: var(--color-main);
}

.text-text {
  color: var(--color-text);
}

.text-muted {
  color: var(--color-text-muted);
}

.text-accent {
  color: var(--color-accent);
}

.hover\:text-accent-hover:hover {
  color: var(--color-accent-hover);
}

.border-border {
  border-width: 1px;
  border-color: var(--color-border);
}

@keyframes scrollBackground {
  from {
    background-position: center 20%;
  }
  to {
    background-position: center 80%;
  }
}
